{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>关于我</h1>
                    <span class="subheading">我感兴趣的领域</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>我对新科技有着无尽的好奇心， 因此一直在通过互联网自学编程。我喜欢设计各种东西，网页、手机应用、用户体验等。</p>
            <p>我独立完成了两个网站项目的开发和部署：
            <ul>
                <li><a href="https://addison-blog.herokuapp.com/" target="_blank">个人博客</a>
                </li>
                <li><a href="https://pet-frontier.herokuapp.com/" target="_blank">宠物前线</a>
                </li>
            </ul>
            </p>
            <p>目前，我在学习React。</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}